@import '../../shared/variables';

.contacts {
  display: flex;

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.contacts__fax {
  margin-right: 2rem;

  @media (max-width: $mobile-width) {
    margin-right: 0;
  }
}

.number {
  display: block;
  color: $white;
  padding: 0.2rem 0;

  &:hover,
  &:active {
    color: $light-grey;
  }
}
