@import '../../shared/variables';

.contacts {
  display: flex;

  @media (max-width: $mobile-width) {
    flex-direction: column;
    align-items: center;
  }
}

.contacts__fax {
  margin-right: 2rem;

  @media (max-width: $mobile-width) {
    margin-right: 0;
  }
}

.number {
  display: flex;
  align-items: center;
  color: $white;
  padding: 0.2rem 0;
  font-size: 1.4rem;

  &:hover,
  &:active {
    color: $light-grey;
  }
}

.icon {
  font-size: 1.4rem;
  height: auto;
  width: auto;
  padding-right: 0.2rem;
}
