<section class="section about">
  <div class="container-global">
    <h2 class="title-global">Общая информация</h2>
    <p class="about__text">
      Общество с ограниченной ответственностью «БелАктивПроект» выполняет полный комплекс проектно-изыскательских работ
      на территории Республики Беларусь и Российской Федерации:
    </p>
    <ul class="about__list">
      <li class="about__item">
        проектные работы: новое строительство, капитальный ремонт, модернизация, реконструкция;
      </li>
      <li class="about__item">
        дизайн интерьеров, внешнее цветовое оформление фасадов, ландшафтный дизайн, архитектурная подсветка;
      </li>
      <li class="about__item">
        сбор исходных данных;
      </li>
      <li class="about__item">
        технический и авторский надзор;
      </li>
    </ul>
    <p class="about__text">
      В составе нашей компании работают руководители и специалисты, имеющие опыт работы в проектировании, строительстве
      и обследовании строительных конструкций зданий и сооружений более 10 лет.
    </p>
    <p class="about__text">
      Организация оснащена необходимым оборудованием, программным обеспечением, согласно современным требованием и
      технологиям. Мы имеем возможность обеспечить полный комплекс проектно-изыскательских работ квалифицированными
      специалистами, что существенно уменьшает сроки проектирования и повышает качество выпускаемой документации.
    </p>
    <p class="about__text">
      Компания создана для проектирования зданий и сооружений с применением современных и прогрессивных подходов в
      строительстве. Обратившись в консультативный отдел компании, заказчик сам определяет с какими компаниями ему в
      дальнейшем вести сотрудничество. Мы консультируем о новых материалах, технологиях, рекомендуем прогрессивных
      подрядчиков и изыскателей, предлагаем надежных поставщиков полносборных зданий, для сложных вопросов привлекаем
      сотрудников кафедры БНТУ, наполняем здание современными компьютерными технологиями.
    </p>
  </div>
</section>
<section class="section activities">
  <div class="container-global">
    <h2 class="title-global title-global--gray">Услуги</h2>
    <ul class="activities__list">
      <li class="about__item">
        разработка проектно-сметной документации для объектов промышленного и гражданского строительства
      </li>
      <li class="about__item">
        разработка предпроектной (предынвестиционной) документации
      </li>
      <li class="about__item">
        сбор исходно-разрешительной документации
      </li>
      <li class="about__item">
        получение необходимых согласований
      </li>
      <li class="about__item">
        прохождение государственной экспертизы
      </li>
      <li class="about__item">
        осуществление авторского надзора за выполнением строительных работ
      </li>
    </ul>
  </div>
</section>
<section class="section partners">
  <div class="container-global">
    <h2 class="title-global">Наши партнеры</h2>
    <div class="partners__block">
      <div class="partners__item"></div>
      <div class="partners__item"></div>
      <div class="partners__item"></div>
      <div class="partners__item"></div>
      <div class="partners__item"></div>
      <div class="partners__item"></div>
      <div class="partners__item"></div>
      <div class="partners__item"></div>
    </div>
  </div>
</section>
