:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.contacts {
  display: flex;
}

.contacts__contact {
  font-size: 1.4rem;
  margin-right: 2rem;
}

.contacts-section {
  margin-bottom: 1rem;
}

.contacts-section__item {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.icon {
  font-size: 1.8rem;
  height: auto;
  width: auto;
  padding-right: 0.6rem;
}

.map {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 350px;
}

.map__iframe {
  flex-grow: 1;
}
