<div class="container-global">
  <section class="section contacts-section">
    <h2 class="title-global">
      <span>Наши контакты</span>
    </h2>
    <div class="contacts-section__wrapper">
      <div class="contacts-section__address">
        Адрес: г.Минск, ул.Гусовского 10,пом.501
      </div>
      <div class="contacts-section__fax">
        Тел/факс: +375 (17) 252-77-26
      </div>
      <div class="contacts-section__tel">
        <p>Моб.: +375 (44) 722-64-56</p>
        <p>Моб.: +375 (29) 674-00-67</p>
      </div>
      <div class="contacts-section__email">
        Email: belaktivprojekt@mail.ru
      </div>
    </div>
  </section>
</div>
<div class="map">
  <iframe
    class="map__iframe"
    src="https://yandex.ru/map-widget/v1/?um=constructor%3A85bcbf526ab362c45af25c9cdc752dcd1e5a7291d13feed70c0b5c294f24ff32&amp;source=constructor"
    width="100%"
    frameborder="0"
  ></iframe>
</div>
