.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-list {
  margin-top: 3rem;
  margin-left: 5rem;
}

.project-list__item {
  margin-bottom: 0.5rem;
}

.project-list__link {
  cursor: pointer;
  border-bottom: 1px solid #000;
}

.project-card {
  min-height: 30rem;
  margin-top: 3rem;
}
