@import '../shared/variables';

.project-list {
  margin-top: 3rem;
  margin-left: 5rem;
}

.project-list__item {
  margin-bottom: 0.5rem;
}

.project-list__link {
  cursor: pointer;
  border-bottom: 1px solid $dark;
}

.project-card {
  min-height: 30rem;
  margin: 3rem auto;
  max-width: 100rem;
}
