<ul class="project-list">
  <li class="project-list__item" *ngFor="let project of projects; let i = index">
    <a class="project-list__link" (click)="scrollToElement(i)">{{ project.title }}</a>
  </li>
</ul>

<section class="card-container">
  <mat-card color="primary" *ngFor="let project of projects; let i = index" class="project-card" [id]="'project-' + i">
    <mat-card-header>
      <mat-card-title>{{ project.title }}</mat-card-title>
    </mat-card-header>
    <img class="project-card__img" mat-card-image [src]="project.imgSrc" [alt]="project.title" />
  </mat-card>
</section>
