@import '../../../shared/variables';

.footer {
  min-height: 8.5rem;
  background-color: $dark;
  color: $white;

  @media (max-width: $mobile-width) {
    text-align: center;
  }
}

.footer__copyright {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 1.4rem;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.footer__socials {
  @media (max-width: $mobile-width) {
    margin-bottom: 1rem;
  }
}
