$primary: #212121;
$light: #484848;

$bright: #dd2541;

$dark: #000000;
$white: #ffffff;
$light-grey: #cccccc;

$desktop-width: 1200px;
$desktop-small-width: 1024px;
$tablet-width: 767px;
$mobile-width: 650px;
