@import '../../../shared/variables';

.header {
  color: $white;
  box-shadow: 0 4px 5px -1px rgba(0, 0, 0, 0.3), 0 5px 10px 0 rgba(0, 0, 0, 0.15), 0 1px 18px 0 rgba(0, 0, 0, 0.14);
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__info {
  display: flex;
  justify-content: space-between;
  height: 4.5rem;
  padding: 1rem 2rem;
  background-color: $dark;
}

.logo {
  font-size: 2rem;
}

.nav {
  display: flex;
  justify-content: center;
  height: 4.5rem;
  padding: 1.2rem 0;
  background-color: $primary;
}

.nav__link {
  padding: 0 1rem;
  font-size: 1.6rem;
}

.nav__link,
.logo {
  color: $white;

  &:hover,
  &:active {
    color: $light-grey;
  }
}

.nav__link_active {
  color: $light-grey;
}

.logo {
  text-transform: uppercase;
}
