@import '../../../shared/variables';

.header {
  color: $white;
  box-shadow: 0 4px 5px -1px rgba(0, 0, 0, 0.3), 0 5px 10px 0 rgba(0, 0, 0, 0.15), 0 1px 18px 0 rgba(0, 0, 0, 0.14);
}

.header__container {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mobile-width) {
    justify-content: center;
  }
}

.header__info {
  display: flex;
  justify-content: space-between;
  height: 6rem;
  padding: 1rem 2rem;
  background-color: $dark;
}

.header__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__logo-link {
  font-size: 2rem;
  text-transform: uppercase;
}

.header__contacts {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.nav {
  display: flex;
  justify-content: center;
  height: 4.5rem;
  padding: 1.2rem 0;
  background-color: $primary;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.nav__link {
  padding: 0 1rem;
  font-size: 1.6rem;
}

.nav__link,
.header__logo-link {
  color: $white;

  &:hover,
  &:active {
    color: $light-grey;
  }
}

.nav__link_active {
  color: $light-grey;
}

.burger {
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
  }
}
