<header class="header">
  <div class="header__info">
    <button class="burger" mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="header__container container-global">
      <div class="header__logo">
        <a href="/wellcome" class="header__logo-link">БелАктивПроект</a>
      </div>
      <div class="header__contacts">
        <app-contacts-block></app-contacts-block>
      </div>
    </div>
  </div>

  <nav class="nav">
    <a class="nav__link" routerLink="/about" routerLinkActive="nav__link_active">О компании</a>
    <a class="nav__link" routerLink="/projects" routerLinkActive="nav__link_active">Проекты</a>
    <a class="nav__link" routerLink="/licenses" routerLinkActive="nav__link_active">Лицензии</a>
    <a class="nav__link" routerLink="/contacts" routerLinkActive="nav__link_active">Контакты</a>
  </nav>
</header>
