.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.nav-list {
  display: flex;
}

.nav-list__item {
  & + & {
    margin-left: 2rem;
  }
}

.nav-list__link,
.logo {
  color: #fff;
  font-size: 1.6rem;

  &:hover,
  &:active {
    color: #ccc;
  }
}

.logo {
  text-transform: uppercase;
}
