<mat-toolbar class="header" color="primary">
  <a href="/" class="logo">БелАктивПроект</a>
  <ul class="nav-list">
    <li class="nav-list__item">
      <a class="nav-list__link" routerLink="/about">О компании</a>
    </li>
    <li class="nav-list__item">
      <a class="nav-list__link" routerLink="/projects">Проекты</a>
    </li>
    <li class="nav-list__item">
      <a class="nav-list__link" routerLink="/licences">Лицензии</a>
    </li>
    <li class="nav-list__item">
      <a class="nav-list__link" routerLink="/contacts">Контакты</a>
    </li>
  </ul>
</mat-toolbar>
